In [1]:
spark.sql("create database shellida")
spark.sql("show databases").show()

spark.sql("use shellida")

NameError: name 'spark' is not defined

In [2]:
import findspark

In [3]:
findspark.init()
findspark.find()

from pyspark.sql import SparkSession

In [4]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/25 04:19:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/09/25 04:19:28 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
spark.sql("create database shellida")
spark.sql("show databases").show()

spark.sql("use shellida")

+---------+
|namespace|
+---------+
|  default|
| shellida|
+---------+

DataFrame[]

In [8]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
+---------+---------+-----------+

In [9]:
salesdf = spark.read.option("header","true").option("inferSchema","true").csv("/home/labuser/Downloads/datasets/superstore.csv")

In [17]:
salesdf.write.saveAsTable("employee")

AnalysisException: [TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create table or view `spark_catalog`.`shellida`.`employee` because it already exists.
Choose a different name, drop or replace the existing object, or add the IF NOT EXISTS clause to tolerate pre-existing objects.

In [22]:
spark.sql("show tables").show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
| shellida| employee|      false|
| shellida|     sale|      false|
+---------+---------+-----------+

In [15]:
salesdf=spark.read.option("header","true").option("inferSchema","true").csv("/home/labuser/Downloads/datasets/superstore.csv")

In [20]:
salesdf.write.mode("overwrite").saveAsTable("sale")

In [23]:
sales4tabledf= spark.read.table("sale")

In [24]:
sales4tabledf.count()

51290

In [25]:
salesdf.write.mode('append').saveAsTable("sales")

In [26]:
salesdf.write.mode('ignore').saveAsTable("sales")

In [27]:
salesdf.rdd.getNumPartitions()

2

In [31]:
sales4tabledf= spark.read.table("sales")


sales_US=salesdf.select("country","state","Profit").filter("country='United States'").show()

+-------------+--------------+----------+
|      country|         state|    Profit|
+-------------+--------------+----------+
|United States|      New York|  762.1845|
|United States|    California|  1906.485|
|United States|North Carolina|-1862.3124|
|United States|      Virginia|    83.281|
|United States|      Kentucky|  517.4793|
|United States|      Illinois|   341.994|
|United States|    California|  363.9048|
|United States|         Texas|   -350.49|
|United States|    California|  135.4068|
|United States|      New York| 1371.9804|
|United States|North Carolina|-3839.9904|
|United States|     Minnesota| 4630.4755|
|United States|      New York|  1143.891|
|United States|    California|   839.986|
|United States|    Washington| 1480.4671|
|United States|       Florida|  327.5922|
|United States|      New York|  2229.024|
|United States|      Virginia|  694.5015|
|United States|       Georgia|  3177.475|
|United States|      Michigan| 2504.2216|
+-------------+--------------+----------+
only showing top 20 rows

In [32]:
from pyspark.sql.functions import col, sum

sales_US =salesdf.groupBy("Country","state").agg(sum(col("Profit").cast('int')).alias("totSales")).filter("country='United States'").show()

salesdf.select("Region","country").sort(col("region").desc()).orderBy("country",ascending=False).filter("region='Central Asia'").distinct().show()

spark.sql("select country,region,avg(profit) from sales group by country,region").filter("Country='India'").orderBy("region").show()

+-------------+--------------+--------+
|      Country|         state|totSales|
+-------------+--------------+--------+
|United States|      Virginia|   17154|
|United States|South Carolina|    1774|
|United States| West Virginia|     186|
|United States|         Maine|     417|
|United States|       Montana|    1852|
|United States|       Alabama|    4645|
|United States|       Wyoming|     100|
|United States|         Idaho|     695|
|United States|    New Jersey|    6916|
|United States|      Arkansas|    3437|
|United States|      Michigan|   21869|
|United States|      Illinois|   -9298|
|United States|          Ohio|  -14490|
|United States|      New York|   65943|
|United States|      Missouri|    6208|
|United States|   Mississippi|    2445|
|United States|      Nebraska|    1421|
|United States|     Minnesota|    9820|
|United States|    Washington|   29900|
|United States|        Kansas|     794|
+-------------+--------------+--------+
only showing top 20 rows

+------------+-----------+
|      Region|    country|
+------------+-----------+
|Central Asia|      Nepal|
|Central Asia|Afghanistan|
|Central Asia| Bangladesh|
|Central Asia|  Sri Lanka|
|Central Asia|   Pakistan|
|Central Asia|      India|
+------------+-----------+

+-------+------------+--------------------+
|country|      region|         avg(profit)|
+-------+------------+--------------------+
|  India|Central Asia|0.017684887459807074|
+-------+------------+--------------------+

In [33]:
from pyspark.sql.functions import col, sum,avg

sales_US =salesdf.groupBy("Country","state").agg(sum(col("Profit").cast('int')).alias("totSales"),avg(col("Profit").cast('int')).alias("AvgSales")).filter("country='United States'").show()

+-------------+--------------+--------+-------------------+
|      Country|         state|totSales|           AvgSales|
+-------------+--------------+--------+-------------------+
|United States|      Virginia|   17154|  76.58035714285714|
|United States|South Carolina|    1774|  42.23809523809524|
|United States| West Virginia|     186|               46.5|
|United States|         Maine|     417|             52.125|
|United States|       Montana|    1852| 123.46666666666667|
|United States|       Alabama|    4645|  76.14754098360656|
|United States|       Wyoming|     100|              100.0|
|United States|         Idaho|     695| 33.095238095238095|
|United States|    New Jersey|    6916|   53.6124031007752|
|United States|      Arkansas|    3437|  57.28333333333333|
|United States|      Michigan|   21869|   86.0984251968504|
|United States|      Illinois|   -9298|-18.898373983739837|
|United States|          Ohio|  -14490|-30.895522388059703|
|United States|      New York|   65943|  58.77272727272727|
|United States|      Missouri|    6208|  94.06060606060606|
|United States|   Mississippi|    2445| 46.132075471698116|
|United States|      Nebraska|    1421|  37.39473684210526|
|United States|     Minnesota|    9820| 110.33707865168539|
|United States|    Washington|   29900|  59.20792079207921|
|United States|        Kansas|     794| 33.083333333333336|
+-------------+--------------+--------+-------------------+
only showing top 20 rows

In [38]:
from pyspark.sql.functions import lit

In [39]:
sales_US=salesdf.select("country","state","Profit").filter("country='United States'")

In [40]:
sales_US.withColumn("CountryCode",lit("US")).show()


df = df.withColumn("AgePlusTen", col("Age") + 10)

test_df = purchasedf_01.withColumn("rating_value", when(col("Rating")>=2,"Average").when(col("Rating")>=5,"Good").otherwise("NA"))

+-------------+--------------+----------+-----------+
|      country|         state|    Profit|CountryCode|
+-------------+--------------+----------+-----------+
|United States|      New York|  762.1845|         US|
|United States|    California|  1906.485|         US|
|United States|North Carolina|-1862.3124|         US|
|United States|      Virginia|    83.281|         US|
|United States|      Kentucky|  517.4793|         US|
|United States|      Illinois|   341.994|         US|
|United States|    California|  363.9048|         US|
|United States|         Texas|   -350.49|         US|
|United States|    California|  135.4068|         US|
|United States|      New York| 1371.9804|         US|
|United States|North Carolina|-3839.9904|         US|
|United States|     Minnesota| 4630.4755|         US|
|United States|      New York|  1143.891|         US|
|United States|    California|   839.986|         US|
|United States|    Washington| 1480.4671|         US|
|United States|       Florida|  327.5922|         US|
|United States|      New York|  2229.024|         US|
|United States|      Virginia|  694.5015|         US|
|United States|       Georgia|  3177.475|         US|
|United States|      Michigan| 2504.2216|         US|
+-------------+--------------+----------+-----------+
only showing top 20 rows

NameError: name 'df' is not defined

In [41]:
sales_US=sales_US.withColumnRenamed("totSales","TotalSales")

sales_US.drop("AvgSales")

DataFrame[country: string, state: string, Profit: string]

In [44]:
sales_withcolumn = salesdf.withColumn("SalesLevel", when(col("profit")>=10000,"High").when(col("profit")<10000,"Average").otherwise("NA"))

NameError: name 'when' is not defined